@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force reset to allow full-screen centering */
:root, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f4; /* bg-stone-100 */
}
